/*Couleurs*/

$rouge: #B5141B;
$rougeFonce: #7B0000;
$couleurAMC: #0038A8;
$bleu: #0052AE;
$bleuFonce: #002854;
$grisPale: #F5F5F5;
$gris: #D3D3D3;
$grisFonce: #000;
$blanc: #fff;
$noir: #000;

/*Couleurs des elements*/

$lien: $bleu;
$lienHover: $bleuFonce;
$lienAlt: $blanc;
$lienAltHover: $gris;
$boutonFond: $rouge;
$boutonFondActif: $rougeFonce;
$texteBouton: $blanc;
$texteBoutonAlt: $noir;
$couleurTexte: $noir;
$couleurTexteAlt: $blanc;
//$couleurFond: $grisPale;
$couleurFond: $couleurAMC;
$couleurFondFormulaire: $blanc;
$couleurContourFormulaire: $bleuFonce;
$ombrage: rgba(0,0,0,0.25);