.layout-full {
    #colophon {
        background: $couleurFond;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: $ombrage 0 -6px 6px -6px;
        #site-info {
            color: $couleurTexteAlt;
            @include fontSize(12px);
            margin-top: 0.5em;
        }
        #footer-widgets {
            .menu-footer {
                display: none;
                margin-left: 0;
                margin-bottom: 0.5em;
                li {
                    display: inline;
                    margin-right: 2em;
                    @include fontSize (18px);
                    a {
                        color: $lienAlt;
                        text-decoration: none;
                        &:hover {
                            color: $lienAltHover;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                @media (min-width: $tablettePaysage) {
                    display: inherit;
                    float: left;
                    width: 79%;
                }
            }
            #mobile-footer {
                @media (min-width: $tablettePaysage) {
                    display: none;
                }
                margin-left: 0;
                text-align: center;
                list-style: none;
                a {
                    @include fontSize(18px);
                    color: $lienAlt;
                    &:hover {
                        color: $lienAltHover;
                    }
                }
                li {
                    margin-bottom: 9px;
                }
            }
            #rSociaux {
                text-align: center;
                margin-left: 0;
                @media (min-width: $tablettePaysage) {
                    text-align: right;
                    width: 19%;
                    float: right;
                    margin-bottom: 0;
                }
                a {
                    margin: 0;
                }
                li {
                    display: inline;
                    margin-right: 10px; //Placeholder
                    &:last-child {
                        margin-right: 0;
                    }
                    .social-icon {
                        display: inline-block;
                        width: 48px;
                        height: 48px;
                        transition: none !important;
                    }
                    .facebook-icon {
                        background: url(images/sprite-sociaux.png) 0 0;
                        &:hover {
                            background-position: 0 -48px;
                        }
                    }
                    .twitter-icon {
                        background: url(images/sprite-sociaux.png) -96px 0;
                        &:hover {
                            background-position: -96px -48px;
                        }
                    }
                    .instagram-icon {
                        background: url(images/sprite-sociaux.png) -48px 0;
                        &:hover {
                            background-position: -48px -48px;
                        }
                    }
                }
            }
        }
        &::after {
            content: '\7C\a0\a0';
            display: table;
            clear: both;
            background-color: $couleurFond;
        }
    } 
}