#masthead {
    background: $couleurFond;
    .hgroup {
        padding-bottom: calc(45px/2);
        padding-top: calc(45px/2);
        #header-sidebar {
            aside.widget {
                float: none !important;
            }
        }
    }
    .widget_polylang {
        a {
            color: $lienAlt;
            &:hover {
                color: $lienAltHover;
            }}

        ul {
            list-style: none;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.25em;
            li {
                display: block;
                float: none;
                margin-left: none;
            }
        }
    }
}

.main-navigation {
    background: $couleurFond;
    a {
        @include fontSize(20px);
        color: $lienAlt;
        font-weight: $regular;
    }
    ul {
        li {
            a {
                padding: 16px 20px;
            }
            &:hover,
            &.focus {
                >a {
                    background: $couleurFond;
                    color: $lienAltHover;
                }
            }
        }
    }
}

.full-container {
    .menu {
        @media (max-width: $tablettePortrait) {
            display: none;
        }
    }
    #search-icon {
        @media (max-width: $tablettePortrait) {
            display: none;
        }
    }
}

#navMobile {
    text-align: center;
    @media (min-width: $tablettePortraitPlus1) {
        display: none;
    }
    .menu-mobile {
        width: 100%;
        li {
            display: inline !important;
            text-align: center;
            a {
                @include fontSize(18px);
                font-weight: bold;
            }
        }
    }
    .txtBtnMenu {
        color: $lienAlt;
    }
    .menuBtn {
        font-weight: bold;
        #boutonMenu {
            color: $boutonFond;
        }
        margin-bottom: 1em;
    }
    #searchNavMobile {
        margin: 0.5em 0;
        .searchform {
            background: $couleurFondFormulaire;
            max-width: 95%;
            border: 2px solid $lienAlt;
            height: 42px;
            margin: 0.5rem auto;
            input[name=s] {
                color: $couleurTexte;
                width: calc(100% - 56px);
                height: 100%;
                border: none;
                @include fontSize(18px);
            }
            #boutonRecherche,
            #boutonRechercheTexte {
                background: $lienAlt;
                color: $blanc;
                @include fontSize(16px);
                font-weight: $regular;
                border: none;
                border-radius: 0;
                height: 42px;
                transition: $animation;
                float: right;
                &:hover {
                    background: $lienAltHover;
                }
            }
            #boutonRecherche {
                font-family: $symboles;
            }
        }
    }
}

.menuHidden {
    display: none;
}

#search-icon {
    #search-icon-icon {
        background-color: $lienAlt;
        &:hover {
            background-color: $lienAltHover;
        }
        .vantage-icon-search {
            color: $lien !important;
        }
    }
    .searchform {
        background: $couleurFondFormulaire;
        box-shadow: $ombrage 0 6px 6px -6px;
        max-width: 500px;
        border: 2px solid $lien;
        input[name=s] {
            color: $couleurTexte;
            width: calc(100% - 56px);
            float: left;
        }
        #boutonRecherche,
        #boutonRechercheTexte {
            background: $lien;
            color: $blanc;
            @include fontSize(16px);
            font-weight: $regular;
            border: none;
            border-radius: 0;
            height: 42px;
            transition: $animation;
            float: right;
            &:hover {
                background: $lienHover;
            }
        }
        #boutonRecherche {
            font-family: $symboles;
        }
    }
}