.flexslider {
    .caption-wrap {
        text-align: left;
        font-family: $oswald;
        @include fontSize(26px);
        .caption {
            line-height: unset;
            padding: 10px 25px;
        }
    }
}

.metaslider {
    .caption-wrap {
        background: $ombrage !important;
        color: $blanc !important;
        opacity: 1 !important;
        margin: 3.5rem !important;
        width: auto !important;
        min-width: 250px;
        max-width: 360px;
        border-radius: 4px;
        line-height: 100%;
    }
    img {
        height: 420px !important;
        width: auto !important;
    }
}

.entry-main,
.site-content {
    .entry-header,
    .page-header {
        height: 300px;
        min-height: 300px;
        /*background-image: url(http://via.placeholder.com/3840x300);*/
        //background: url(images/image-page.jpg) center no-repeat;
        background: url(images/image-fond-blank.jpg) center no-repeat;
        background-size: 100%;
        display: flex;
        align-items: center;
        /*margin-bottom: 1.5rem;*/
        @media (min-width: $laptopMini) {
            margin-left: calc(-100vw / 2 + 1366px / 2);
            margin-right: calc(-100vw / 2 + 1366px / 2);
        }
        #container-header {
            margin-left: auto;
            margin-right: auto;
            max-width: $laptopMini;
            width: 100%;
            .texteContainer {
                position: relative;
                background-color: $ombrage;
                min-width: 250px;
                max-width: 360px;
                left: 25px;
                margin: 0;
                border-radius: 4px;
            }
            h1 {
                font-size: 2.6rem !important;
                box-sizing: border-box;
                //color: $couleurTexte;
                color: $blanc;
                height: 100%;
                padding: 10px 25px;
                line-height: 1.2;
                span {
                    font-family: inherit;
                    font-size: inherit;
                    font-style: italic;
                }
            }
        }
    }
}

#page-title {
    margin-bottom: 0;
}