#categoriesProduits {
    margin-left: 0;
    padding-top: 35px;
    h2 {
        @include fontSize(20px);
    }
    li {
        display: list-item;
        @include fontSize (18px);
        list-style-type: disc;
        margin-left: 1.5rem;
    }
    @media (min-width: $tablettePaysage) {
        width: 20%;
        float: left;
    }
}

.vantage-grid-loop {
    margin: auto;
    padding-top: 35px;
    width: 100%;
    @media (min-width: $tablettePortraitPlus1) {
        padding: 35px 35px 0 0;
    }
    @media (min-width: $tablettePaysage) {
        width: 75%;
        float: right;
    }
    article {
        .grid-thumbnail {
            padding: 0;
            border: none;
            &:hover {
                box-shadow: none;
                transform: scale(1.05);
            }
        }
        h3 {
            @include fontSize(18px);
            a {
                color: $lien;
                &:hover {
                    color: $lienHover;
                }
            }
        }
    }
}

.pagination,
.entry-content .pagination {
    @include fontSize(18px);
    font-family: $openSans;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    clear: both;
    .current {
        background: $boutonFondActif;
        color: $lienAltHover;
    }
    a {
        background: $boutonFond;
        color: $lienAlt;
        &:hover {
            background: $boutonFondActif;
            color: $lienAltHover;
        }
    }
}

.fiftyPcGauche {
    @media (min-width: $tablettePortraitPlus1) {
        width: 47%;
        float: left;
    }
}

.fiftyPcDroite {
    @media (min-width: $tablettePortraitPlus1) {
        width: 47%;
        float: right;
    }
}

.wpcf7-form {
    .mandatory {
        color: $boutonFond;
        font-weight: bold;
    }
    input,
    textarea {
        border: 1px solid $bleuFonce;
        color: $couleurTexte;
        border-radius: 3px;
        margin-top: 0.5rem;
        @media (max-width: $tablettePortrait) {
            width: 100%;
        }
    }
    textarea {
        width: 100%;
    }
    input[type=submit] {
        border: none;
        @include fontSize(16px);
        color: $blanc;
        background: $boutonFond;
        transition: $animation;
        &:hover,
        &:active {
            background: $boutonFondActif;
        }
    }
}