.search-results {
    .site-content {
        padding-bottom: 35px;
    }
    .page-header {
        margin-bottom: 25px;
    }
    article {
        margin-bottom: 3.5rem;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: none;
        .entry-header-search {
            .entry-thumbnail {
                @media (min-width: $tablettePortraitPlus1) {
                    width: 200px;
                    float: left;
                }
                a {
                    img {
                        width: 200px;
                        height: auto;
                    }
                }
            }
            .entry-title {
                font-family: $openSans;
                font-weight: $boldOpenSans;
                @include fontSize(18px);
                margin-bottom: 0.5em;
                @media (min-width: $tablettePortraitPlus1) {
                    width: calc(100% - 200px - 3.5rem);
                    float: right;
                }
            }
        }
        .entry-summary {
            @media (min-width: $tablettePortraitPlus1) {
                width: calc(100% - 200px - 3.5rem);
                float: right;
            }
        }
    }
}

.widget {
    list-style-type: none;
}

/*Formulaire de recherche dans les pages*/

.searchform {
    background: $couleurFondFormulaire;
    max-width: 500px;
    border: 2px solid $lien;
    height: 42px;
    input[name=s] {
        color: $couleurTexte;
        width: calc(100% - 56px);
        float: left;
        height: 100%;
        border: none;
        @include fontSize(18px);
    }
    #boutonRecherche,
    #boutonRechercheTexte {
        background: $lien;
        color: $blanc;
        @include fontSize(16px);
        font-weight: $regular;
        border: none;
        border-radius: 0;
        height: 42px;
        transition: $animation;
        float: right;
        &:hover {
            background: $lienHover;
        }
    }
    #boutonRecherche {
        font-family: $symboles;
    }
}