#fb-feed {
    @media (min-width: $tablettePortraitPlus1) {
        //float: left;
        width: calc(100% * 2/3);
        margin-left: auto;
        margin-right: auto;
    }
}

#tw-feed {
    @media (min-width: $tablettePortraitPlus1) {
        float: right;
        width: 47%;
    }
}

#insta-feed {
    clear: both;
    width: 100%;
}

/* Liens Externes */
a.external_icon {
    transition: none !important;
}