@import 'scss/themeData.scss';

/* Font import */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:400,700');
@import 'scss/_mixins.scss';

/**Variables**/

@import 'scss/couleurs.scss';
@import 'scss/fonts.scss';

/*Breakpoints*/

@import 'scss/_breakpoints.scss';

/*Animations*/

$animation: all 350ms ease-in-out;

/*Prefixes*/

$prefixes: webkit ms moz o;

/*Textes*/

h1, h2, h3, h4, h5, h6 {
    font-family: $oswald;
}

p, a, span, small, input {
    font-family: $openSans;
}

a {
    text-decoration: none;
}


/*Largeur de page*/

body {
    background: $couleurFond;
}

body.layout-full {
    background: $grisPale;
}

body.responsive.layout-full {
    #page-wrapper {
        .full-container {
            max-width: $laptopMini;
        }
    }
}

#main {
    padding-top: 0;
    padding: 0;
}


/*Navigation*/

@import "scss/navigation.scss";

/*Contenu de page*/

p,
ul {
    @include fontSize(16px);
    color: $couleurTexte;
}

a {
    transition: $animation !important;
    color: $lien;
    &:hover,
    &:active,
    &:focus {
        color: $lienHover;
    }
}

.entry-content {
    padding: 35px;
    a {
        color: $lien;
        &:hover,
        &:active,
        &:focus {
            color: $lienHover;
        }
    }
    ul {
        list-style-type: circle;
    }
    h1 {
        @include fontSize(26px);
    }
    h2 {
        @include fontSize(24px);
    }
    h3 {
        @include fontSize(20px);
    }
    h4 {
        @include fontSize(16px);
    }
}

.pageSingle {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $tablettePortraitPlus1) {
        width: 75%;
    }
}

.contentDTGauche {
    h2 {
        margin-top: 0;
    }
    @media (min-width: $tablettePortraitPlus1) {
        width: calc(66.6666% - 16px);
        float: left;
    }
}

.contentUTDroite {
    text-align: center;
    @media (min-width: $tablettePortraitPlus1) {
        width: calc(33.3333% - 16px);
        float: right;
    }
}


/*Footer*/

@import 'scss/footer.scss';


/*Pages*/

@import 'scss/pages.scss';


/**Produits**/

@import 'scss/produits.scss';


/*Page de recherche*/

@import 'scss/recherche.scss';

/*Widget des feeds de Facebook, Twitter et Instagram dans la page des actualites*/

@import 'scss/widgets.scss';